@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Aprender acerca <a href="https://docs.microsoft.com/aspnet/core">Creación de aplicaciones web con ASP.NET Core</a>.</p>
</div>
